body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}
.news__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    vertical-align: top;
    list-style: none;
    column-gap: 20px;
    row-gap: 40px;
}

.news__item{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
    border-top: 5px solid rgb(0, 230, 199);
}

.news__item img{
    width: 100%;
}

.news__item h4{
    text-align: left;
}

.news__item p{
    text-align: left;
}